<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />

        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
        <!--<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <script src="js/underscore.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <!--<script type="text/javascript" src="js/jquery.ui.map.full.min.js"></script>-->
        <script type="text/javascript" src="js/jquery.ui.map.js"></script>
        <script type="text/javascript" src="js/jquery.ui.map.extensions.js"></script>

        <!--<script type="text/javascript" src="cordova.js"></script>-->
        <script type="text/javascript" src="js/vc.js"></script>

        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link href="css/todos.css" media="all" rel="stylesheet" type="text/css"/>

    </head>
    <body>

        <div data-role="page" id="home" class="content-adjust-for-padding">
            <div data-role="header" class="ui-header" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#home" class="ui-btn-active">Home</a></li>
                        <li><a href="#map" data-prefetch>Map</a></li>
                        <li><a href="#route">Route</a></li>
                    </ul>
                </div>
            </div>
            <div data-role="main" class="ui-content">
                <p>VisionClimb</p>
                Tap an area in the map and create a new climbing route there.
                <br/>
                <ul id="areas-list"></ul>
                <script type="text/template" id="area-template">
                    <div class="area-item"><%= name %> - <%= latitude %> - <%= longitude %></div>
                </script>

                <div id="routes">
                    <input id="add-route"/>
                    <ul id="routes-list"></ul>
                </div>
                <script type="text/template" id="route-template">
                    <li>
                        <div class="view">
                            <label class="todo-content"><%= _.escape(content) %></label>
                        </div>
                        <input class="edit" value="<%= _.escape(content) %>">
                    </li>
                </script>

            </div>
            <div data-role="footer" class="ui-footer" data-position="fixed" data-tap-toggle="false">
            </div>
        </div>


        <div data-role="page" id="map" class="content-adjust-no-padding">
            <div data-role="header" class="ui-header" id="map-header" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#map" class="ui-btn-active">Map</a></li>
                        <li><a href="#route">Route</a></li>
                        <li><a onclick="refreshMap()">Refresh</a></li>
                    </ul>
                </div>
            </div>
            <div data-role="main" class="ui-content" id="map_canvas"></div>
            <div data-role="footer" class="ui-footer" id="map-footer" data-position="fixed" data-tap-toggle="false">
                <div data-role="navbar">
                    <ul>
                        <li><a onclick="resetMap()">Reset</a></li>
                        <li><a id="newRouteLink" onclick="newRoute()">New Route</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div data-role="page" id="route" class="content-adjust-for-padding">
            <div data-role="header" class="ui-header" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#map">Map</a></li>
                        <li><a href="#route" class="ui-btn-active">Route</a></li>
                        <li><a onclick="refreshRoutes()">Refresh</a></li>
                    </ul>
                </div>
            </div>
            <div data-role="main" class="ui-content">
                <canvas id="canvas" style="border:1px solid black;" width="200" height="300"></canvas>
                <label for="routeName">Route name:</label><input type="text" id="routeName" value="a route" />
                <label for="grade">Grade:</label><input type="range" name="slider" id="grade" value="1" min="1" max="1" />
                <div class="ui-grid-a">
                    <div class="ui-block-a"><label for="gradeYDS">YDS:</label><input id="gradeYDS" type="text" readonly="readonly" /></div>
                    <div class="ui-block-b"><label for="gradeBritish">British:</label><input id="gradeBritish" type="text" readonly="readonly" /></div>
                </div>
            </div>
            <div data-role="footer" class="ui-footer" data-position="fixed" data-tap-toggle="false">
                <div data-role="navbar">
                    <ul>
                        <li><a onclick="currentClimage.save()">Save</a></li>
                    </ul>
                </div>
            </div>


        </div>

    </body>
</html>
